// Fuentes
$fuente_principal: 'Inter', sans-serif;

// Tamaño de Media Queries
$telefono: 375px;
// $desktop: 1440px;
$desktop: 768px;

// Colores-Primarios
$orange: hsl(35, 77%, 62%);
$red: hsl(5, 85%, 63%);

// Colores-Neutrales
$white: hsl(36, 100%, 99%);
$gray: hsl(233, 8%, 79%);
$dark-gray: hsl(236, 13%, 42%);
$very-dark: hsl(240, 100%, 5%);

$separacion: 5rem;

// Fuentes
$regular : 400;
$bold: 700;
$black: 800;